@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@400;700&family=Bellefair&display=swap');

:root {
	--dark-color: hsl(230 35% 7%);
	--offset-color: hsl(231 77% 90%);
	--white-color: hsl(0 0% 100%);
	--white-half-op-color: hsl(0 0% 100% / 0.5);
	--white-quater-op-color: hsl(0 0% 100% / 0.25);
	--shadow-color: hsl(0 0% 100% / 0.1);

	--background-image-home: url('/assets/home/background-home-desktop.jpg');
	--background-image-destination: url('/assets/destination/background-destination-desktop.jpg');
	--background-image-crew: url('/assets/crew/background-crew-desktop.jpg');
	--background-image-tech: url('/assets/technology/background-technology-desktop.jpg');
	--background-image: var(--background-image-home);
}

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: var(--dark-color);
	font-family: 'Barlow Condensed', sans-serif;
	font-size: 16px;
	color: var(--white-color);
}

.container {
	min-height: 100vh;
	overflow: hidden;
	background: var(--background-image) no-repeat center/cover;
}

a {
	text-decoration: none;
}

.text {
	color: var(--offset-color);
	font-family: 'Barlow', sans-serif;
	font-size: 1.125rem;
	line-height: 2rem;
	max-width: 28rem;
}

.h1,
.h2,
.h3,
.h4,
.sh1 {
	font-family: 'Bellefair', serif;
	text-transform: uppercase;
	color: var(--white-color);
}

.h5,
.sh2,
.sh3 {
	font-family: 'Barlow Condensed', 'sans-serif';
	text-transform: uppercase;
}

.h1 {
	font-size: 9.375rem;
}

.h2 {
	font-size: 6.25rem;
}

.h3 {
	font-size: 3.5rem;
}

.h4 {
	font-size: 2rem;
}

.op-50 {
	color: var(--white-half-op-color);
}

.h5 {
	font-size: 1.75rem;
	letter-spacing: 0.3rem;
	color: var(--white-color);
}

.h5 > span {
	color: var(--white-quater-op-color);
}

.sh1 {
	font-size: 1.75em;
}

.sh2 {
	font-size: 0.875rem;
	letter-spacing: 0.146875rem;
	color: var(--offset-color);
}

.sh3 {
	letter-spacing: 0.16875rem;
	color: var(--offset-color);
}

header {
	display: flex;
	padding: 1rem 0;
}

hr {
	display: block;
	height: 1px;
	border: 1px solid rgba(255, 255, 255, 0);
	border-bottom-color: rgba(255, 255, 255, 0.25);
	margin: 1rem 0;
	width: 100%;
}

header > hr {
	flex-grow: 1;
	margin: auto -2rem auto 0.5rem;
	z-index: 20;
}

header > img {
	margin: 0 1.5rem;
	width: 3rem;
	height: 3rem;
	padding: 1.5rem;
}

nav {
	display: flex;
	align-items: center;
	box-sizing: border-box;
}

.main-nav {
	width: 50rem;
	padding: 0 6rem;
	justify-content: space-around;
}

.mobile-nav-wrapper {
	display: flex;
	background: rgba(255, 255, 255, 0.04);
	backdrop-filter: blur(2.5rem);
}

.mobile-nav-icon,
.mobile-nav-close-icon {
	display: none;
}

.sub-nav > div {
	margin-right: 2rem;
}

nav > div > a {
	padding: 2rem 0;
	color: white;
	text-transform: uppercase;
	letter-spacing: 0.16875rem;
}

.sub-nav > div > a {
	padding: 1rem 0;
}

nav > div {
	display: flex;
	box-sizing: border-box;
	align-items: center;
	height: 100%;
	border-bottom: 0.2rem solid rgba(255, 255, 255, 0);
}

nav > div.active {
	border-bottom-color: var(--white-color);
}

nav > div:hover {
	border-bottom-color: var(--white-half-op-color);
}

.nav-number {
	font-weight: bold;
	margin-right: 0.25rem;
	color: var(--white-color);
	padding-right: 0.5rem;
}

main {
	margin: auto;
	max-width: 68.75rem;
	padding-bottom: 2rem;
}

.flex {
	display: flex;
	flex-direction: row;
}

.left,
.right {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
}

.left > * {
	margin-top: 1rem;
}

.right > * {
	margin-top: 0.5rem;
}

.planet-image {
	height: 27.8125rem;
	width: 27.8125rem;
}

.right-index {
	flex-direction: row;
}

/* index page styles */

.index-box {
	margin-top: 24vh;
	align-items: flex-end;
}

.index-box .h5 {
	color: var(--offset-color);
}

.circle {
	background: var(--white-color);
	color: var(--dark-color);
	border-radius: 50%;
	width: 17.125rem;
	height: 17.125rem;
	line-height: 17.125rem;
	text-align: center;
	transition: box-shadow 0.6s ease;
	-webkit-tap-highlight-color: transparent;
}

.circle:hover {
	box-shadow: 0 0 0 5.5rem var(--shadow-color);
}

/* planet page styles */
.destination-box {
	margin-top: 10vh;
}

.h5 > span {
	font-weight: bold;
	color: var(--white-color);
	margin-right: 1.25rem;
}

.destination-info {
	flex-grow: 1;
}

.destination-info > p {
	padding: 0.5rem 0;
}

.planet-image {
	height: 27.8125rem;
	width: 27.8125rem;
}

/* crew page */

.crew-box > .left {
	margin-top: 10vh;
}

.crew-box > .left > * {
	margin-top: 2.5rem;
}

.crew-box > .right {
	width: 35rem;
	height: 18.75rem;
	display: block;
	justify-content: flex-start;
}

.dots > a {
	height: 1rem;
	width: 1rem;
	background: rgba(255, 255, 255, 0.17);
	border-radius: 50%;
	display: inline-block;
	margin-right: 1.75rem;
}

.dots > a:hover {
	background: rgba(255, 255, 255, 0.5);
}

.dots > a.active {
	background-color: var(--white-color);
}

.crew-image {
	overflow: hidden;
	height: 37.5rem;
	border-bottom: 1px solid rgba(255, 255, 255, 0.25);
	padding: 0 2rem;
}

/* tech page */
.vehicle-image {
	height: 527px;
	width: 515px;
	overflow: visible;
}

.tech-box > .left {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin-top: 10vh;
}

.tech-box > .right {
	width: 400px;
}

.tech-slider {
	width: 80px;
}

.tech-content > * {
	margin-top: 0.5rem;
}

.dots-big {
	display: flex;
	flex-direction: column;
	margin-right: 5rem;
}

.dots-big > a {
	height: 5rem;
	width: 5rem;
	line-height: 5rem;
	text-align: center;
	border: 1px solid rgba(255, 255, 255, 0.25);
	border-radius: 50%;
	display: inline-block;
	margin-bottom: 2rem;
}

.dots-big > a:hover {
	border-color: var(--white-color);
}

.dots-big > a.active {
	background: var(--white-color);
	color: var(--dark-color);
}

.dots-big > a.active > .h4 {
	color: var(--dark-color);
}

/* tablets */
@media only screen and (max-width: 1024px) {
	:root {
		--background-image-home: url('/assets/home/background-home-tablet.jpg');
		--background-image-destination: url('/assets/destination/background-destination-tablet.jpg');
		--background-image-crew: url('/assets/crew/background-crew-tablet.jpg');
		--background-image-tech: url('/assets/technology/background-technology-tablet.jpg');
	}

	body {
		text-align: center;
	}

	.container {
		display: flex;
		flex-direction: column;
	}

	.h2 {
		font-size: 5rem;
	}

	.h3 {
		font-size: 2.5rem;
	}

	.h4 {
		font-size: 1.5rem;
	}

	.h5 {
		font-size: 1.25rem;
	}

	header {
		padding: 0;
		justify-content: space-between;
	}

	header > hr {
		display: none;
	}

	.nav-number {
		display: none;
	}

	.mobile-nav-wrapper {
		width: 60%;
	}

	.main-nav {
		padding: 0;
		width: 100%;
	}

	main {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		width: auto;
		margin: 0 2rem;
		align-items: center;
	}

	.sub-header {
		padding: 2rem;
		align-self: flex-start;
	}

	.flex {
		flex-direction: column;
		justify-content: space-evenly;
		flex-grow: 1;
		align-items: center;
	}

	.left,
	.right {
		justify-content: center;
		align-items: center;
		margin: 2rem 0;
	}

	.sub-nav > div {
		margin: 0 1rem;
	}

	/* index page */
	.index-box {
		margin-top: 0;
	}

	/* destination page */
	.planet-image {
		height: 20rem;
		width: 20rem;
	}

	.destination-box {
		max-width: 40rem;
		margin-top: unset;
	}

	.destination-box .text {
		max-width: none;
	}

	.destination-box .right > * {
		margin: 1rem 0;
	}

	.destination-info-wrapper {
		flex-direction: row;
		width: 100%;
	}

	.destination-info {
		text-align: left;
		flex-grow: unset;
	}

	/* crew page */
	.crew-box > .left {
		margin-top: unset;
	}

	.crew-box > .left > * {
		margin-top: 2rem;
	}

	.crew-image {
		height: 26rem;
	}

	/* tech page */
	.tech-box {
		flex-direction: column-reverse;
		max-width: 40rem;
	}

	.tech-box .text {
		max-width: none;
	}

	.tech-box > .left {
		margin-top: unset;
		flex-direction: column;
	}

	.tech-box > .left > * {
		margin-top: 2rem;
	}

	.tech-box .dots-big {
		flex-direction: row;
		justify-content: space-between;
		margin: unset;
	}

	.tech-box .dots-big > a {
		margin: 0 1rem;
	}

	.tech-box > .right {
		width: unset;
	}

	.tech-content {
		margin: 1rem 0;
	}

	.tech-content > * {
		margin: 1rem 0;
	}

	.vehicle-image {
		width: 100vw;
		height: auto;
	}
}

/* mobile devices */
@media only screen and (max-width: 600px) {
	:root {
		--background-image-home: url('/assets/home/background-home-mobile.jpg');
		--background-image-destination: url('/assets/destination/background-destination-mobile.jpg');
		--background-image-crew: url('/assets/crew/background-crew-mobile.jpg');
		--background-image-tech: url('/assets/technology/background-technology-mobile.jpg');
	}

	html {
		font-size: 12px;
	}

	.h1 {
		font-size: 6.25rem;
	}

	.h2 {
		font-size: 3.5rem;
	}

	.h3 {
		font-size: 1.5rem;
	}

	h4,
	.h5 {
		font-size: 1rem;
	}

	.sh3 {
		font-size: 0.875rem;
	}

	.text {
		max-width: 40rem;
	}

	header {
		padding: 2rem 0;
	}

	.mobile-nav-wrapper {
		height: 100%;
		width: 60%;
		top: 0;
		right: 0;
		flex-direction: column;
		padding: 2rem;
		position: fixed;
		top: 0;
		right: 0;
		transform: translateX(100%);
		transition: transform 0.5s ease;
	}

	.show {
		transform: translateX(0%);
	}

	.hide {
		transform: translateX(100%);
	}

	.mobile-nav-icon,
	.mobile-nav-close-icon {
		display: block;
	}

	.mobile-nav-close-icon {
		padding: 1.5rem;
		align-self: flex-end;
	}

	.nav-number {
		display: inline;
	}

	.main-nav {
		flex-direction: column;
		align-items: flex-start;
		padding: 2rem;
	}

	.main-nav > div > a {
		padding: 2rem 0 1rem;
	}

	.left,
	.right {
		margin: 0.5rem 0;
	}

	.sub-header {
		align-self: center;
	}

	/* destination page */
	.destination-info-wrapper {
		flex-direction: column;
	}

	.destination-info {
		text-align: center;
	}

	.planet-image {
		height: 14rem;
		width: 14rem;
	}

	.destination-box .right > * {
		margin: 0.5rem 0;
	}

	/* crew image */
	.crew-box {
		flex-direction: column-reverse;
	}

	.crew-image {
		height: 18rem;
	}

	.crew-box > .right {
		height: unset;
		width: unset;
	}

	.crew-box > .left > * {
		order: 2;
	}

	.crew-box .dots {
		order: 1;
	}

	/* tech page */
	.tech-box {
		max-width: 24rem;
	}
}
